Diagnostics:
  ClangTidy:
    Add: [
      'bugprone*',
      'modernize*',
      'cppcoreguidelines*',
      'performance*',
      'readability*'
    ]
    Remove: [
        'modernize-use-trailing-return-type',
        'cppcoreguidelines-no-malloc',
        'cppcoreguidelines-owning-memory',
        "cppcoreguidelines-macro-usage",
        'cppcoreguidelines-pro-type-reinterpret-cast',
        'cppcoreguidelines-pro-type-union-access',
        'cppcoreguidelines-special-member-functions',
        'bugprone-easily-swappable-parameters'
    ]
