[submodule "corrosion"]
	path = corrosion
	url = https://github.com/corrosion-rs/corrosion.git
[submodule "concurrentqueue"]
	path = tests/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "tests/spdlog"]
	path = tests/spdlog-repo
	url = https://github.com/gabime/spdlog
